.track-container{
    display: flex;
    height: 20vh;
    background-color: rgb(0, 0, 0);
    border: 1.3px solid rgb(54, 32, 22);
    border-radius: 0.8rem;
}

.track-container > .track-container-left{
    display: flex;
    flex: 0.7;
    justify-content: stretch;
    align-items: center;
}

.track-container > .track-container-left > .onboard-track-img{
    height: 6rem;
    width: 7rem;
    margin: 1rem;
    border: 1.5px solid black;
}

.track-container > .track-container-left > .track-container-left-name > h4 {
    color: rgb(251, 94, 22);
    font-family: monospace;
    font-size: 1.3rem;
    font-weight: 50;
}

.track-container > .track-container-left > .track-container-left-name > .add-to-playlist {
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    height: 1.4rem;
    width: 1.4rem;
    margin-bottom: -1rem;
    opacity: 0.7;
}

.track-container > .track-container-left > .track-container-left-name > .add-to-playlist:hover {
    opacity: 1;
    transform: scale(1.2);
    cursor: pointer;
}

.track-container > .track-right{
    display: flex;
    flex: 0.3;
    justify-content: flex-end;
    align-items: center;
}

.track-container > .track-right > button {
    background: transparent;
    outline: none;
    border: none;
}

.track-container > .track-right > button > .track-play-icon{
    color: rgb(251, 94, 22);
    justify-content: stretch;
    align-items: center;
    margin-right: 2rem;
    height: 3rem;
    width: 3rem;
    opacity: 0.7;
}

.track-container > .track-right > button > .track-play-icon:hover{
    opacity: 1;
    transform: scale(1.2);
    cursor: pointer;
}
